<html>
<head>
    <link rel="stylesheet" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<nav>
  <ul id="nav-ul">
    <li><a href="#img-prompt">Image Generation</a></li>
    <li><a href="#text-prompt">Text Completion</a></li>
    <li><a href="#code-prompt">Code Completion</a></li>
    <li><a href="#about">About</a></li>
  </ul>
</nav>
<body>
    <div id="welcome">
        <h1>Welcome</h1>
        <p>
            In this personal project website I try to demonstrate some
            key features of the OpenAI API.
        </p>

    </div>
        <div id="img-prompt">
            <h3>Image Generation using OpenAI API</h3>
        <figure>
            <img id="image-id" src="{% if image_url %} {{ image_url }} {% else %} {{ "https://via.placeholder.com/512" }} {% endif %}">
            <figcaption>{{ prompt }}</figcaption>
        <div id="load">
                <div>G</div>
                 <div>N</div>
                <div>I</div>
                <div>D</div>
                <div>A</div>
                <div>O</div>
                <div>L</div>
                </div>
        </figure>
            <form id="image-form" method="post" action="/">
                <input class="prompt-input" placeholder="Enter prompt" name="prompt"><br>
                <button class="button-89" id="submit-prompt" type="submit" onclick="return load()" onclick="return checkInput()">Submit</button>
            </form>

        <details class="details">
                <summary>Click for explanation</summary>
                <p>
                    To use the OpenAI image creation API, you will need to provide a text
                    description of the image you want to generate. This description can include information about
                    the objects, scenes, and backgrounds that you want to include in the image, as well as details
                    about their colors, sizes, and spatial relationships.<br>

                    The OpenAI image creation API will then process this description using natural language processing
                    techniques to extract and understand the relevant information. It will use this information to
                    generate an image using computer vision techniques, such as generative adversarial networks (GANs)
                    or variational autoencoders (VAEs). <br>
                    Overall, The OpenAI image creation API is an advanced machine learning model that can generate high-quality
                    images from text descriptions.
                </p>
        </details>
        </div>




        <div id="text-prompt" style="width: 610px;">
        <h3>Text Completion using OpenAI API</h3>
            <p id="actual-response">{{ text_response }}</p>
            <div style="border-top: 1px solid #ccc;">
                <p >{{ text_prompt }}</p>
            <form id="text-completion-form" method="post" action="/text_completion">
                <input class="prompt-input" placeholder="Enter prompt" id="text-completion" name="text-completion"><br>
                <button class="button-89" id="submit-prompt" type="submit" onclick="return load()" onclick="return checkInput()">Submit</button>
            </form>
            </div>
            <details class="details">
                <summary>Click for explanation</summary>
                <p>
                    To use text completion, you will need to provide a prompt, which is a starting point for the generated text.
                    The prompt can be a single word, a phrase, a sentence, or a paragraph of text.
                    The text completion model will then process the prompt and generate a response
                    based on the trained model. The response will be a continuation of the prompt,
                    and will be relevant and coherent in the context of the prompt.<br>

                  OpenAI text completion is a machine learning technique that uses natural language processing (NLP)
                    to generate text based on a given prompt. The goal of text completion is to produce relevant and coherent
                    text that can be used for a variety of applications, such as generating responses to user queries, completing
                    sentences or paragraphs of text,
                    or creating original content based on a given topic or style.
                </p>
            </details>
        </div>



        <div id="code-prompt" style="width: 610px;">
        <h3>Code Generation using OpenAI API</h3>
            <p id="actual-response-code">{{ code_response }}</p>
            <div style="border-top: 1px solid #ccc;">
                <p >{{ code_prompt }}</p>
            <form id="code-completion-form" method="post" action="/code_generation">
                <input class="prompt-input" placeholder="Enter prompt" id="code-generation" name="code-generation"><br>
                <button class="button-89" id="submit-prompt" type="submit" onclick="return load()" onclick="return checkInput()">Submit</button>
            </form>
            </div>
            <details class="details">
                <summary>Click for explanation</summary>
                <p>

                    To use OpenAI code generation, you will need to provide a prompt, which is a starting point for the generated code.
                    The prompt can be a single word, a phrase, a sentence, or a paragraph of text that describes the desired
                    functionality or behavior of the generated code. <br>
                     The goal of OpenAI code generation is to produce high-quality code that is
                    consistent with the training data and the input prompt, and can be customized
                    to match the style and conventions of the target programming language.<br>
                    The OpenAI code generation model is trained on a large dataset of code examples,
                    which are used to teach the model the patterns and relationships between the
                    input prompt and the generated code.
                </p>
             </details>
        </div>
{##}
{#<div class="loader" id="loader">#}
{#  <div class="loader-inner">#}
{#    <div class="loader-line-wrap">#}
{#      <div class="loader-line"></div>#}
{#    </div>#}
{#    <div class="loader-line-wrap">#}
{#      <div class="loader-line"></div>#}
{#    </div>#}
{#    <div class="loader-line-wrap">#}
{#      <div class="loader-line"></div>#}
{#    </div>#}
{#    <div class="loader-line-wrap">#}
{#      <div class="loader-line"></div>#}
{#    </div>#}
{#    <div class="loader-line-wrap">#}
{#      <div class="loader-line"></div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}

    <h2 id="about">About</h2>
    <p id="about-p"> This website is a personal project that uses the OpenAI API to power its features.
        The OpenAI API allows the website to integrate advanced artificial intelligence
        and machine learning capabilities, enabling it to offer unique and personalized
        experiences to those who visit the site. With the help of the OpenAI API,
        the website is able to process large amounts of data quickly and accurately,
        making it faster, more efficient, and more effective at providing people with
        the information they need. The website is a work in progress,
        and the use of the OpenAI API is a key part of the effort to continuously improve and innovate.
        Thank you for visiting the website, and I hope you find it useful to you.</p>

<script src="/static/script.js" rel="script"></script>
</body>
<footer>
    <ul id="footer-ul">
    <li><a href="https://github.com/davidobsz">GitHub link</a></li>
    <li><a href="mailto:dawidobszanski@icloud.com">Email</a></li>
  </ul>
</footer>
</html>