<html>
<head>
    <link rel="stylesheet" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<nav>
  <ul id="nav-ul">
    <li><a href="#img-prompt">Image Generation</a></li>
    <li><a href="#text-prompt">Text Completion</a></li>
    <li><a href="#code-prompt">Code Completion</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
</nav>
<body>
    <div id="welcome">
        <h1>Welcome</h1>
        <p>
            In this personal project website I try to demonstrate some
            key features of the OpenAI API.
        </p>

    </div>
        <div id="img-prompt">
        <h3>Image Generation using OpenAI API</h3>
        <figure>
            <img id="image-id" src="{% if image_url %} {{ image_url }} {% else %} {{ "https://via.placeholder.com/512" }} {% endif %}">
            <figcaption>{{ prompt }}</figcaption>
        <div id="load">
                <div>G</div>
                 <div>N</div>
                <div>I</div>
                <div>D</div>
                <div>A</div>
                <div>O</div>
                <div>L</div>
                </div>
        </figure>
            <form id="image-form" method="post" action="/">
                <input class="prompt-input" placeholder="Enter prompt" name="prompt"><br>
                <button class="button-89" id="submit-prompt" type="submit" onclick="return load()" onclick="return checkInput()">Submit</button>
            </form>
        </div>

        </div>


        <div id="text-prompt" style="width: 610px;">
        <h3>Text Completion using OpenAI API</h3>
            <p id="actual-response">{{ text_response }}</p>
            <div style="border-top: 1px solid #ccc;">
                <p >{{ text_prompt }}</p>
            <form id="text-completion-form" method="post" action="/text_completion">
                <input class="prompt-input" placeholder="Enter prompt" id="text-completion" name="text-completion"><br>
                <button class="button-89" id="submit-prompt" type="submit" onclick="return load()" onclick="return checkInput()">Submit</button>
            </form>
            </div>
        </div>



        <div id="code-prompt" style="width: 610px;">
        <h3>Code Generation using OpenAI API</h3>
            <p id="actual-response-code">{{ code_response }}</p>
            <div style="border-top: 1px solid #ccc;">
                <p >{{ code_prompt }}</p>
            <form id="code-completion-form" method="post" action="/code_generation">
                <input class="prompt-input" placeholder="Enter prompt" id="code-generation" name="code-generation"><br>
                <button class="button-89" id="submit-prompt" type="submit" onclick="return load()" onclick="return checkInput()">Submit</button>
            </form>
            </div>
        </div>
{##}
{#<div class="loader" id="loader">#}
{#  <div class="loader-inner">#}
{#    <div class="loader-line-wrap">#}
{#      <div class="loader-line"></div>#}
{#    </div>#}
{#    <div class="loader-line-wrap">#}
{#      <div class="loader-line"></div>#}
{#    </div>#}
{#    <div class="loader-line-wrap">#}
{#      <div class="loader-line"></div>#}
{#    </div>#}
{#    <div class="loader-line-wrap">#}
{#      <div class="loader-line"></div>#}
{#    </div>#}
{#    <div class="loader-line-wrap">#}
{#      <div class="loader-line"></div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}

<script src="/static/script.js" rel="script"></script>
</body>
</html>